.main-page {
    padding: 20px;
  }
  
  .main-header {
    display: flex; 
    justify-content: space-between;
    align-items: flex-start; 
    margin-bottom: 40px;
  }
  .header-content {
    display: flex;
    flex-direction: column;
  }
  
  .btn-login {
    display: inline-block;
    padding: 10px 20px;
    margin: 40px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .why-us.h3 {
    width: 743;
    height: 54;
    top: 846px;
    left: 60px;
    font-family: Ferry;
    font-weight: 900;
    font-size: 45px;
    line-height: 100%;
    letter-spacing: 1%;
  }
  
  .carousel {
    display: flex;
    align-items: flex-start; 
    justify-content: space-between;
  }
  
  .carousel-item {
    display:flex;
    flex-direction: column;
    width: 400;
    height: 400;
    top: 970px;
    left: 94px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
    padding: 10px 10px;
  }

  .search {
    margin-bottom: 40px;
    width: 335;
    height: 59;
    top: 588px;
    left: 60px;
    border-radius: 5px;

  }
  
  .pricing {
    display: flex;
    justify-content: space-between;
  }
  
  .pricing-card {
    flex: 1;
    margin: 10 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }
  
  .current {
    background-color: #f0f8ff;
  }
  
  .badge {
    display: block;
    margin: 10px 0;
    color: #fff;
    background-color: #28a745;
    padding: 5px;
    border-radius: 3px;
  }
  .main-header .fatboy {
    width: 629px;
    height: 593px;
    top: 144px;
    left: 751px;
  }
  .shield1 {
    margin: 30px;
  }
  .footer {
    Width: 1440px;
    Height: 137px;
    Top: -2904px;
    Left: 2734px;
    padding: 10px;
  }